# Dependencies & Build
node_modules/
dist/
dist-ssr/

# Environment
.env
*.local

# Logs
logs/
*.log
*-debug.log*
*-error.log*

# Editors & OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.sln
*.suo
