<%- include("../includes/head.ejs") %>

<body class="page page--default">
	<%- include("../includes/navigation.ejs") %>
	<main>
		<div class="container">
			<h1>Checkout</h1>
		</div>
	</main>
</body>
