<form action="/cart" method="POST" class="btn">
	<button
		type="submit"
		style="background-color: transparent; color: white; font-weight: 600; border: none;"
	>
		Add to Cart
	</button>
	<input type="hidden" name="productId" value="<%= product.id %>">
</form>
