<%- include("../includes/head.ejs") %>

	<body class="page page--form">
		<%- include("../includes/navigation.ejs") %>

		<main>
			<div class="container">
				<form action="/admin/add-product" method="POST" class="form">
					<h1 class="form__title">Add Product</h1>
					<div class="form__control">
						<input type="text" name="title" placeholder="Enter product title">
					</div>
					<button type="submit" class="btn">Add Product</button>
				</form>
			</div>
		</main>
	</body>
</html>
